<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team1: Project3</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&display=swap" rel="stylesheet"
     /> 
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap" rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="header">
        Brian, are you there?
    </div> 
    <div class="todo">
      <div class="tenor-gif-embed" data-postid="5323301" data-share-method="host" data-aspect-ratio="2.085" data-width="100%">
        <a href="https://tenor.com/view/the-office-gif-5323301">Not Impressed GIF</a>from 
        <a href="https://tenor.com/search/the+office-gifs">The Office GIFs</a>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        <div id="newtask">
          <input type="text" placeholder="Add Tasks">
          <button id="push">Add</button>
        </div>
      <div id="tasks"></div>
    </div>
    <div class="extras">
      <h1>Class corner:</h1>
      <br><br>
      <h3>Can you take a look at my code?</h3>
        <div class="tenor-gif-embed" data-postid="23066448" data-share-method="host" data-aspect-ratio="2.0915" data-width="100%">
        <a href="https://tenor.com/view/office-gif-23066448">Office GIF</a>
        from <a href="https://tenor.com/search/office-gifs">Office GIFs</a>
        </div> 
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script><br>
        <br>
        <h3>The moment Brian helps fix your project</h3>
        <div class="tenor-gif-embed" data-postid="26388528" data-share-method="host" data-aspect-ratio="1.21212" data-width="100%">
          <a href="https://tenor.com/view/the-office-gif-26388528">The Office GIF</a>
          from <a href="https://tenor.com/search/the-gifs">The GIFs</a>
        </div> 
          <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        <br><br>
    </div>
    <div class="container">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
          <div class="date">
            <h1> </h1>
            <p></p>
          </div>
          <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days"></div>
      </div>
    </div>
    <div class="team">
      <h1>TEAM 1:</h1>
      <div class="icons">
        <div class="row">
          <div class="column">
            <img class="demo cursor" src="https://i.pinimg.com/736x/d6/b1/40/d6b140a32a2a75258332a3a56c119725.jpg" style="width:100%" alt="Don">
            <h1>Don</h1>
          </div>
          <div class="column">
            <img class="demo cursor" src="https://coolmenshair.com/wp-content/uploads/anime-boy-with-blonde-hair-3.jpg" style="width:100%" alt="Charles">
            <h1>Charles</h1>
          </div>
          <div class="column">
            <img class="demo cursor" src="https://vignette.wikia.nocookie.net/ao-haru-ride/images/3/35/Shuuko-smiling-anime.png/revision/latest/scale-to-width-down/250?cb=20150117222723" style="width:100%" alt="Anne">
            <h1>Anne</h1>
          </div>
          <div class="column">
            <img class="demo cursor" src="https://i.pinimg.com/originals/03/f2/f1/03f2f1dd0695aa47f02a69bde3305842.jpg" style="width:100%" alt="Tyler">
            <h1>Tyler</h1>
          </div>
          <div class="column">
            <img class="demo cursor" src="https://i.pinimg.com/originals/9e/63/62/9e63624772d262120556868fbf0b6b4f.jpg" style="width:100%" alt="Jeffrey">
            <h1>Tyler</h1>
          </div>
          <div class="column">
            <img class="demo cursor" src="https://qph.fs.quoracdn.net/main-qimg-3ab85f7058b44486ffa67a96e2929c49" style="width:100%" alt="Deonte">
            <h1>Deonte</h1>
          </div>
          <div class="column">
            <img class="demo cursor" src="http://pm1.narvii.com/7058/7fdca1acdca6080c29db9a3809ed89ad401ab9e9r1-1242-1861v2_uhq.jpg" style="width:100%" alt="Thoai">
            <h1>Thoai</h1>
          </div>
        </div>
      </div>
    <script src="script.js"></script>
  </body>
</html>